@page
@model ProiectDAW.Pages.Management.IndexModel
@{
}
<h1 class="display-1">Management</h1>

<ul>
	<li>
		<a asp-page="./Categories/Index">Category</a>
	</li>
	<li>
		<a asp-page="./Posts/Index">Posts</a>
	</li>
	<li>
		<a asp-page="./Comments/Index">Comments</a>
	</li>
</ul>
