@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-1">Forum</h1>
    </div>

     <div class="rows align-items-start">
        

        @if (@Model.categories.Count == 0 ) {
            <h2 class="display-3">Nu exista categorii.</h2>
        } else
        {
            <div class="col ">
                <h2 class="display-2">Categorii</h2>
            </div>
        }

        @foreach (var item in Model.categories)
        {
            <div class="col align-self-center">
                <h3> <a asp-page="/category" asp-route-id="@item.CategoryId"> @item.CategoryName</a> </h3>
                <p>  @item.CategoryDescription</p>
            </div>
        }

    </div>

    
</div>
