@page
@model ProiectDAW.Pages.LoginModel
@{
}

<h1 class="display-1">Login</h1>

<form asp-page="login" method="post">

	<div asp-validation-summary="All" class="text-danger"></div>

	<label class="form-label" asp-for="<@Model.UserName"> Username </label>
	<input class="form-control"  asp-for="@Model.UserName" />
	<p/>

	<label class="form-label"  asp-for="<@Model.Password"> Password </label>
	<input class="form-control"  asp-for="@Model.Password" />
	<p/>

	<input type="submit" class="btn btn-primary" value="Login"/>
	<p/>

</form>
